USE [master]
GO
/****** Object:  Database [Staff]    Script Date: 9/9/2024 11:16:19 PM ******/
CREATE DATABASE [Staff]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Staff', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Staff.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Staff_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Staff_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Staff].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Staff]
GO
/****** Object:  Table [dbo].[TblDeparetment]    Script Date: 9/9/2024 11:16:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblDeparetment](
	[depatrmentId] [smallint] IDENTITY(1,1) NOT NULL,
	[departmentName] [varchar](20) NULL,
	[departmentDescription] [varchar](250) NULL,
 CONSTRAINT [PK_TblDeparetment] PRIMARY KEY CLUSTERED 
(
	[depatrmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblStaffs]    Script Date: 9/9/2024 11:16:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblStaffs](
	[staffId] [int] IDENTITY(1,1) NOT NULL,
	[staffName] [varchar](20) NULL,
	[staffSurname] [varchar](20) NULL,
	[staffCity] [varchar](20) NULL,
	[staffDepartment] [varchar](20) NULL,
	[staffSalary] [smallint] NULL,
 CONSTRAINT [PK_TblStaffs] PRIMARY KEY CLUSTERED 
(
	[staffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
